<form method="post" action="{{ path('app_role_admin_delete', {'id': role_admin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role_admin.id) }}">
    <button class="btn">Delete</button>
</form>
